<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rdlts.core.usermgr.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="cn.rdlts.core.usermgr.model.Account">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Query_Column_List">
        id, account_name, password, salt, create_time, last_modify_time
    </sql>
    
    <sql id="Create_Column_List">
        account_name, password, salt, create_time
    </sql>
    
    <sql id="Update_Column_List">
        account_name, password, salt, last_modify_time
    </sql>

    <!-- BaseMapper definition -->
    <!-- 定义条件查询的 sql 片段 -->
    <select id="getById" resultMap="BaseResultMap" resultType="cn.rdlts.core.usermgr.model.Account">
        select <include refid="Query_Column_List" />
        from piw_usermgr_account where id = #{id}
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Query_Column_List" />
        from piw_usermgr_account
    </select>
    
    <insert id="save" parameterType="cn.rdlts.core.usermgr.model.Account" useGeneratedKeys="true" keyProperty="id">
        insert into piw_usermgr_account (<include refid="Create_Column_List"/>)
        values(#{accountName}, #{password}, #{salt}, #{createTime})
    </insert>
    
    <delete id="delete" parameterType="cn.rdlts.core.usermgr.model.Account">
        delete from piw_usermgr_account where id=#{id} or account_name = #{accountName}
    </delete>
    
    <update id="update" parameterType="cn.rdlts.core.usermgr.model.Account">
        update piw_usermgr_account 
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null">password=#{password},</if>
            <if test="salt != null">salt=#{salt}</if>
        </trim>
        where id = #{id} or account_name = #{accountName}
    </update>
    <!-- BaseMapper definition end -->
    
    <select id="getByName" resultMap="BaseResultMap" resultType="cn.rdlts.core.usermgr.model.Account">
        select <include refid="Query_Column_List" />
        from piw_usermgr_account where account_name = #{name}
    </select>
    
    <select id="exist" resultType="boolean" parameterType="cn.rdlts.core.usermgr.model.Account">
        <![CDATA[ select count(*) from piw_usermgr_account where id=#{id} or account_name = #{accountName} ]]> 
    </select>
</mapper>