<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rdlts.core.security.dao.LoginInfoMapper">
    <resultMap id="BaseResultMap" type="cn.rdlts.core.security.model.LoginInfo">
        <id column="serial" property="serial" jdbcType="BIGINT"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="record_time" property="recordTime" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <sql id="Query_Column_List">
        serial, account_id, login_ip, record_time, type
    </sql>
    
    <sql id="Create_Column_List">
        account_id, login_ip, record_time, type
    </sql>
    
    <!-- BaseMapper definition -->
    <!-- 定义条件查询的 sql 片段 -->
    <select id="getById" resultMap="BaseResultMap" resultType="cn.rdlts.core.security.model.LoginInfo">
        select <include refid="Query_Column_List" />
        from piw_security_login_info where serial = #{serial}
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Query_Column_List" />
        from piw_security_login_info
    </select>
    
    <insert id="save" parameterType="cn.rdlts.core.security.model.LoginInfo" useGeneratedKeys="true" keyProperty="serial">
        insert into piw_security_login_info (<include refid="Create_Column_List"/>)
        values(#{accountId}, #{loginIp}, #{recordTime}, #{type, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>
    
    <select id="getDailyVisits" resultType="int">
        <![CDATA[ 
            select count(*) 
            from piw_security_login_info 
            where record_time >= CURDATE()
                    and record_time < date_add(CURDATE(), interval 1 day) and type=0 ]]>
    </select>
    
    <select id="findAllBy" resultMap="BaseResultMap" resultType="cn.rdlts.core.security.model.LoginInfo" parameterType="java.lang.Integer">
        select * from piw_security_login_info where account_id = #{accountId}
    </select>
    
    <select id="findAllLastLoginTimeByAccount" resultMap="BaseResultMap" resultType="cn.rdlts.core.security.model.LoginInfo">
        select <include refid="Query_Column_List" />
        from piw_security_login_info a
        where record_time = (select max(record_time) from piw_security_login_info b where a.account_id = b.account_id)
    </select>
    
    <!-- BaseMapper definition end -->
</mapper>