@CHARSET "UTF-8";

.error {
	color: red;
}

.info {
	color: green;
}

.success {
	color: green;
}

.warn {
	color:yellow;
}

.alert-error {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.modal-attribute {
	padding-bottom: 10px;
}

.modal-attribute-description {
	text-align: right;
	
}