@CHARSET "UTF-8";
a {
    color: #0366d6;
    text-decoration: none;
}

body {
	word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
}

dd {
    margin-left: 0;
}

label {
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

td {
	white-space: nowrap;
}

th {
	white-space: nowrap;
}

.content {
	
}

.top-navbar {
	padding-right: 20px
}

.form-group label {
	position: relative;
}

.form-group .form-control {
    width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafbfc;
}

.form-group textarea.form-control {
    width: 100%;
    height: 200px;
    min-height: 200px;
}

.form-group .form-control.user-profile-bio-field {
    width: 440px;
    height: 5.35em;
    min-height: 0;
}

.form-select {
    display: inline-block;
    max-width: 100%;
    height: 34px;
    padding-right: 24px;
    padding-right: 8px \9;
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat right 8px center;
        background-size: auto auto;
    background-image: none \9;
    background-size: 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.two-thirds {
	width: 66.666667%;
}

.note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #586069;
}

.column {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.user-profile-bio-field-container, .user-profile-company-field-container {
    position: relative;
}

.suggester-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.modal-role-selection {
	width:180px !important;
}
