<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-4.1.xsd  
                http://www.springframework.org/schema/context  
                http://www.springframework.org/schema/context/spring-context-4.1.xsd"
                default-lazy-init="false">

	<!-- 扫描包，注入bean -->
	<context:component-scan base-package="cn.rdlts" />
	
	<bean id="repoConfig" class="cn.rdlts.git.GitConfiguration">
	   <property name="cloneUrl" value="https://github.com/redlotus88/PracticeInWeb.git" />
       <property name="repository" value="./target/git" />
       <property name="reference" value="HEAD"/>
	</bean>
	
	<bean id="gitRepo" class="cn.rdlts.git.PiWGit">
	   <property name="configuration" ref="repoConfig" />
	   <property name="lazyLoad" value="false" />
	</bean>
</beans>  